/* ================================= 
  Base Styles Her
==================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Varela Round', sans-serif;
  background: #F3F4F5; }

.container {
  background: #F3F4F5; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

.redtext {
  color: #F33232; }

/* ================================= 
  Nav Styles
==================================== */
.nav {
  background-color: #F33232;
  color: #fff; }

.logo {
  padding-top: 30px;
  font-size: 1.8em;
  padding-bottom: 30px; }

.logored {
  padding-top: 30px;
  font-size: 3em;
  color: #F33232; }

.user-img {
  height: 150px;
  clip-path: circle(70px at center); }

.user-name,
.user-account {
  font-size: .8em; }

.links {
  padding-top: 50px; }

.active {
  border-right: solid white;
  border-left: solid white; }

.nav li {
  font-size: 1em;
  line-height: 60px;
  padding-left: 15px; }

.nav span {
  padding-right: 15px; }

/* ================================= 
  Login Page Styles
==================================== */
.formcontainer {
  justify-content: center;
  background-color: tomato;
  background-image: url("../img/bg_images/kiwis.png"); }

.form {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(128, 128, 128, 0.8); }

.form p {
  padding-top: 10px; }

.form input,
.input {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  border-style: none;
  border-bottom: 1px solid gray;
  font-size: 1em; }

.form button,
.button {
  margin-top: 40px;
  border-style: none;
  background-color: #fff;
  border: 2px solid #F33232;
  width: 100%;
  height: 60px;
  color: #F33232;
  font-weight: bold;
  font-size: 1.25em; }

/* ================================= 
  Main Content Styles
==================================== */
.marquee {
  font-size: 2em;
  color: red;
  margin-top: 10px;
  margin-left: 50px; }

/* ================================= 
  Flexbox
==================================== */
/* ================================= 
  login screen
==================================== */
.formcontainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center; }

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  align-items: center; }

/* ================================= 
  Dashboard screen
==================================== */
.container {
  display: flex;
  height: 100vh; }

.nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center; }

.links {
  width: 225px; }

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1; }

.recipe-card {
  display: flex;
  flex: 1; }

.recipe-card-right {
  display: flex;
  flex-direction: column; }

/* ================================= 
  Search screen
==================================== */
.searchBar {
  margin: 20px 30px 0 0;
  display: flex;
  min-height: 50px; }

.searchBar form {
  display: flex;
  flex: 2; }

.searchBar div {
  flex: 1; }

.searchBar input {
  flex: 2;
  font-size: 1.25em;
  color: slategrey;
  border-style: none;
  padding-left: 10px; }

.searchBar select {
  color: white;
  background-color: #F33232;
  border-style: none; }

.searchBar button {
  flex: .5;
  font-size: 1em;
  background-color: #F33232;
  color: #fff;
  border-style: none; }

.searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  overflow-y: scroll; }

.searchcard {
  display: flex;
  width: 350px;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.2);
  align-items: center;
  margin: 10px; }

.searchImg {
  height: 100%;
  min-width: 100px;
  max-width: 100px;
  clip-path: inset(15% 15% 15% 15%); }

.searchName {
  font-size: 1em; }

.searchAuthor {
  font-size: .75em;
  color: gray; }

.bigHeart {
  font-size: 1em;
  color: #F33232; }

/* ================================= 
  Dashboard  screen
==================================== */
.favorites {
  display: flex;
  margin: 30px;
  flex-wrap: wrap; }

.favcard {
  display: flex;
  height: 300px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.2);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px; }

.favImg {
  width: 100%; }

.favName {
  font-size: 1.5em; }

.favAuthor {
  font-size: .75em;
  color: gray;
  text-align: center; }

.smallHeart {
  font-size: 2em;
  color: #F33232; }

/* ================================= 
  Recipe Card  screen
==================================== */
.recipe-card {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(102, 102, 102, 0.3);
  margin: 20px 50px; }

.recipe-card-left,
.recipe-card-right {
  padding: 30px;
  flex: 1; }

.recipe-img {
  width: 100%; }

.recipe-name {
  font-size: 3em;
  font-weight: bold; }

.recipe-author {
  font-size: 1.5em;
  color: grey; }

.recipe-ingredients {
  padding-top: 25px; }

/* Web Fonts -------------------- */
