.nav
  .logo
    span.fa.fa-list-alt
    | RecipeDex
  img.user-img(src='img/user-image.jpg')
  .user-name #{name}
  if currentUser
    .user-account
      | My Account |
      a(href='/logout')  logout
  else
    .user-account
      a(href='/')  login to access account
  ul.links
    li
      a(href='/dashboard')
        span.fa.fa-heart
        | MY RECIPES
    li
      a(href='/random')
        span.fa.fa-question
        | RANDOM
    li
      a(href='/search')
        span.fa.fa-search
        | SEARCH
