extends layout.pug

block content
  .marquee
    span.fa.fa-pencil
    |  Create A Recipe
  .create-form
    form(action='dashboard.html')
      input(type='text', placeholder='recipe name')
      input(type='text', placeholder='category')
      br
      br
      label(for='') Directions
      label(for='') Directions
      br
      textarea(rows='24', cols='50')
        | Write the step by step instructions here.
      textarea(rows='24', cols='50')
        | Write the step by step instructions here.
      button Add Images
      br
      button(type='submit') Save My Recipe
