extends layout.pug

block content
  .marquee
    span.fa.fa-question
    |  My Recipes
  .favorites
    .favcard
      img.favImg(src='img/beefstirfry.jpg')
      div
        div
          .favName Beef and Broccoli
          .favAuthor recipe by Rodney Gordon
      p.smallHeart
        span.fa.fa-heart
    .favcard
      img.favImg(src='img/beefstirfry.jpg')
      div
        div
          .favName Beef and Broccoli
          .favAuthor recipe by Rodney Gordon
      p.smallHeart
        span.fa.fa-heart
    .favcard
      img.favImg(src='img/beefstirfry.jpg')
      div
        div
          .favName Beef and Broccoli
          .favAuthor recipe by Rodney Gordon
      p.smallHeart
        span.fa.fa-heart