extends layout.pug

block content
  .marquee
    span.fa.fa-list
    |  Recipe Card
  .recipe-card
    .recipe-card-left
      img.recipe-img(src=`${randomRecipe.image_url}`)
      .recipe-buttons
        div
          span.fa.fa-heart-o
          |  Add to My Recipes
        div
          a(href=`${randomRecipe.source_url}`, target='_blank')
            span.fa.fa-arrow-circle-o-right
            |  See Full Directions
    .recipe-card-right
      .recipe-name #{randomRecipe.title}
      .recipe-author #{randomRecipe.publisher}
      .recipe-ingredients
        .redtext Ingredients
        ul
          each ingredient in randomRecipe.ingredients
            li= ingredient