extends layout.pug

block content
  .searchBar
    .marquee
      span.fa.fa-search
      |  Search
    form(action='/search' method='GET')
      input(name='q', type='text', placeholder='search...', autofocus='autofocus')
      button(type='submit') Search
  if(recipes)  
    .searchResults
      each recipe in recipes
        a(href=`/${recipe.recipe_id}`)
          .searchcard
            img.searchImg(src=`${recipe.image_url}`)
            div
              .searchName #{recipe.title}
              .searchAuthor #{recipe.publisher}

  else
    .searchResults