doctype html
html(lang='en')
  head
    title RecipeDex - Discover, Share and Collaborate
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='dist/style.css')
    script(src='https://use.fontawesome.com/76c36bc171.js')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
  body
    .formcontainer
      .form
        .logored
          span.fa.fa-list-alt
          | RecipeDex
        p Sign in to save and share your favorite recipes
        form(action='/signup' method='POST')
          input(name='email', type='email', placeholder='yourmail@gmail.com', autofocus='autofocus')
          br
          input(name='name', type='text', placeholder='name')
          br
          input(name='password', type='password', placeholder='password')
          br
          input(name='confirmPassword', type='password', placeholder='retype password')
          br
          button(type='submit') Sign Up
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='js/app.js')