/* ================================= 
  Base Styles Her
==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Varela Round', sans-serif;
  background: $grey;
}
.container {
  background: $grey;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.redtext {
  color: $red;
}
/* ================================= 
  Nav Styles
==================================== */
.nav {
  background-color: $red;
  color: $white;
}
.logo {
  padding-top: 30px;
  font-size: 1.8em;
  padding-bottom: 30px;
}
.logored {
  padding-top: 30px;
  font-size: 3em;
  color: $red;
}
.user-img {
  height: 150px;
  clip-path: circle(70px at center);
}
.user-name,
.user-account {
  font-size: .8em;
}
.links {
  padding-top: 50px;
}
.active {
  border-right: solid white;
  border-left: solid white;
}
.nav li {
  font-size: 1em;
  line-height: 60px;
  padding-left: 15px;
}
.nav span {
  padding-right: 15px;
}

/* ================================= 
  Login Page Styles
==================================== */
.formcontainer {
  justify-content: center;
  background-color: tomato;
  background-image: url("../img/bg_images/kiwis.png");
}
.form {
  background-color: $white;
  box-shadow: 0 2px 8px rgba(gray, .8);
}
.form p {
  padding-top: 10px;
}
.form input,
.input {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  border-style: none;
  border-bottom: 1px solid gray;
  font-size: 1em;
}
.form button,
.button {
  margin-top: 40px;
  border-style: none;
  background-color: $white;
  border: 2px solid $red;
  width: 100%;
  height: 60px;
  color: $red;
  font-weight: bold;
  font-size: 1.25em;
}


/* ================================= 
  Main Content Styles
==================================== */
.marquee {
  font-size: 2em;
  color: red;
  margin-top: 10px;
  margin-left: 50px;
}