/* ================================= 
  Flexbox
==================================== */


/* ================================= 
  login screen
==================================== */
.formcontainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;


}
.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  align-items: center;
}



/* ================================= 
  Dashboard screen
==================================== */
.container {
  display: flex;
  height: 100vh;
}
.nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
}
.links {
  width: 225px;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex:1;
}
.recipe-card {
  display: flex;
  flex: 1;
}
.recipe-card-right {
  display: flex;
  flex-direction: column;
}

/* ================================= 
  Search screen
==================================== */
.searchBar {
  margin: 20px 30px 0 0;
  display: flex;
  min-height: 50px;
}
.searchBar form {
  display: flex;
  flex: 2;
}
.searchBar div {
  flex: 1;
}
.searchBar input {
  flex: 2;
  font-size: 1.25em;
  color: slategrey;
  border-style: none;
  padding-left: 10px;
}
.searchBar select {
  color: white;
  background-color: $red;
  border-style: none;
}
.searchBar button {
  flex: .5;
  font-size: 1em;
  background-color: $red;
  color: $white;
  border-style: none;
}

.searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  overflow-y: scroll;
}
.searchcard{
  display: flex;
  width: 350px;
  height: 100px;
  background-color: $white;
  box-shadow: 0 2px 2px rgba(gray, .2);
  align-items: center;
  margin: 10px;
}
.searchImg {
  height: 100%;
  min-width: 100px;
  max-width: 100px;
  clip-path: inset(15% 15% 15% 15%);
}
.searchName{
  font-size: 1em;
}
.searchAuthor {
  font-size: .75em;
  color: gray;
}
.bigHeart {
  font-size: 1em;
  color: $red;
}

/* ================================= 
  Dashboard  screen
==================================== */

.favorites {
  display: flex;
  margin: 30px;
  flex-wrap: wrap;
}
.favcard {
  display: flex;
  height: 300px;
  width: 250px;
  background-color: $white;
  box-shadow: 0 2px 2px rgba(gray, .2);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.favImg {
  width: 100%;
}
.favName{
  font-size: 1.5em;
}
.favAuthor {
  font-size: .75em;
  color: gray;
  text-align: center;
}
.smallHeart {
  font-size: 2em;
  color: $red;
}

/* ================================= 
  Recipe Card  screen
==================================== */
.recipe-card {
  display: flex;
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(#666, .3);
  margin: 20px 50px;
}
.recipe-card-left,
.recipe-card-right {
  padding: 30px;
  flex: 1;
}
.recipe-img {
  width: 100%;
}
.recipe-buttons {
}
.recipe-name {
  font-size: 3em;
  font-weight: bold;
}
.recipe-author {
  font-size: 1.5em;
  color: grey;
}
.recipe-ingredients {
  padding-top: 25px;
}